.app-container {
  display: flex;
  background: white;
  min-height: 100vh;
  justify-content: flex-end;
}

app-chess-board {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

app-chess-debugger {
  flex-shrink: 0;
  width: 450px;
}
