<div id="container">
  @if (gameService.isGameOver) {
    <div class="game-over-banner">
      <h2>{{ gameService.gameOverReason }}</h2>
    </div>
  }
  <div id="complete-board">
    <div class="captured-grid black-captured">
      @for (piece of capturedByBlack; track $index) {
        <div class="captured-piece-container">
          <img [src]="'assets/pieces/white_' + piece + '.svg.png'" class="captured-piece" />
        </div>
      }
    </div>

    <div id="board">
      @for (row of board; track row) {
        @for (square of row; track square) {
          <div (click)="gameService.handleSquareClick(square)" [ngClass]="[
            square.squareClass,
            square.squareColorClass,
            square.highlight != 'none' ? square.highlight : ''
          ]"
          >
            @if (square.piece && square.piece.selectable) {
              <img [src]="'assets/pieces/' + square.piece.colour + '_' + square.piece.name + '.svg.png'"/>
            }
          </div>
        }
      }
    </div>

    <div class="captured-grid white-captured">
      @for (piece of capturedByWhite; track $index) {
        <div class="captured-piece-container">
          <img [src]="'assets/pieces/black_' + piece + '.svg.png'" class="captured-piece" />
        </div>
      }
    </div>
  </div>
</div>